@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

h1,
h3,
p,
button,
a, label {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    line-height: 0%;
    color: #ff6529;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 65px;
    margin: 30px 0px 40px 0px;
}

h3, label {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 0px; */
}

body {
    margin: 0;
    padding: 1.2% 2%;
    background-color: #ffe1d6;
}

.error-page {
    text-align: center;
    margin-top: 20px;
}

.error-img img {
    height: 500px;
    width: auto;
}

.homepage {
    width: 90%;
    margin: auto;
}

.main-section {
    display: flex;
    /* border: 1px solid red; */
}

.main-section div {
    flex: 1;
}

.container {
    /* flex: 1; */
    max-width: 100%;
    align-items: center;
    justify-content: center;
    /* padding-right: 50px; */
    /* border: 1px solid red; */
}

#avatar-canvas{
    width: 500px;
    height: 500px;
}

#avatar svg {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#avatar svg g {
    display: none;
}

.show {
    display: block !important;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    /* padding: 0px 80px; */
    margin-left: 73px;
    float: left;
}

.download-button, #dl-png {
    color: white;
    background-color: #f68b62;
    border: none;
    padding: 15px 30px 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    margin: 530px 0px 0px 0px;
    /* margin: 300px 0px 0px 0px; */
}

.share-button {
    color: white;
    background-color: #f68b62;
    border: none;
    padding: 15px 30px 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    margin: 530px 0px 0px 15px;
    /* margin: 20px 0px 0px 0px; */
}

.download-button i,
.share-button i, #dl-png i {
    font-size: 20px;
}

.download-button:hover,
.share-button:hover, #dl-png:hover {
    background-color: #ff6529;
}

label{
    /* margin-right: 8px; */
    margin-bottom: 30px;
}

.color-pickers{
    float: left;
    /* margin-top: 16%; */
    margin-top: 10px;
    text-align: center;
}

input {
    visibility: hidden;
  }

.fill-cp{
    display: block;
    margin-top: 8px;
    height: 20px;
    width: 99 px;
    border: #f68b62 solid 3.5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.stroke-cp{
    display: block;
    margin-top: 8px;
    height: 20px;
    width: 99 px;
    border: #f68b62 solid 3.5px;
    border-radius: 5px;
    background-color: #f68b62;
}

.background-cp{
    display: block;
    margin-top: 8px;
    height: 20px;
    width: 99 px;
    border: #f68b62 solid 3.5px;
    border-radius: 5px;
    background-color: #ffe1d6;
}

.components {
    /* border: 1px solid rgb(79, 59, 210); */
}

.components h3 {
    margin: 30px 0px 20px 0px;
    /* height: 20px; */
}

.component-types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: 150px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.component-option {
    cursor: pointer;
    /* height: auto;
    width: 50%; */
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    border: #ffffff dashed 3.5px;
}

.active {
    border: #f68b62 dashed 3.5px;
}

