@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

h1,
h3,
p,
label {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    line-height: 0%;
    color: #ff6529;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 0px; */
}

p,
label {
    font-size: 30px;
}

body {
    margin: 0;
    padding: 1% 2%;
    background-color: #ffe1d6;
}

.homepage {
    width: 90%;
    margin: auto;
}

.main-section {
    display: flex;
    border: 1px solid red;
}

.illustration {
    flex: 1;
    max-width: 100%;
    /* border: 1px solid red; */
    align-items: center;
    padding-right: 50px;
    justify-content: center;
}

.illustration img {
    width: auto;
    height: 500px;
    border: 1px solid rgb(100, 120, 48);
}

.selections {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(79, 59, 210);
}

.selections img {
    width: auto;
    height: 6%;
    margin-right: 10px;
    margin-bottom: 10px;
    /* padding: 5px; */
    border: #f68b62 dotted 4px;
    border-radius: 15px;
    background-color: #ffffff;
}

/* .selections img:last-child {
    padding-right: 0;
} */