@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

h1,
h3,
p,
button,
a {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    line-height: 0%;
    color: #ff6529;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 30px 0px 40px 0px;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 0px; */
}

body {
    margin: 0;
    padding: 1.2% 2%;
    background-color: #ffe1d6;
}

.homepage {
    width: 90%;
    margin: auto;
}

.main-section {
    display: flex;
    /* border: 1px solid red; */
}

.main-section div {
    flex: 1;
}

.container {
    /* flex: 1; */
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    /* border: 1px solid red; */
}

#avatar svg {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    /* overflow: hidden; */
}

#avatar svg g {
    display: none;
}

.show {
    display: block !important;
}

.buttons {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
}

.download-button {
    color: white;
    background-color: #f68b62;
    border: none;
    padding: 15px 30px 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    margin: 530px 0px 0px 50px;
}

.share-button {
    color: white;
    background-color: #f68b62;
    border: none;
    padding: 15px 30px 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    margin: 530px 0px 0px 10px;
}

.download-button i,
.share-button i {
    font-size: 20px;
}

.download-button:hover,
.share-button:hover {
    background-color: #ff6529;
}

.components {
    /* border: 1px solid rgb(79, 59, 210); */
}

.components h3 {
    margin: 30px 0px 20px 0px;
    /* height: 20px; */
}

.component-types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: 150px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
    /* float: left; */
}

.component-option {
    cursor: pointer;
    /* height: auto;
    width: 50%; */
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    border: #ffffff dashed 3.5px;
}

.active {
    border: #f68b62 dashed 3.5px;
}